body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Work Sans','sans-serif';
    font-size: 18px;
    color:#585858;
    line-height: 147%;
}



.container {
  position: relative;
  /*overflow: hidden;*/
  background-color:rgb(252,248,248);
  box-shadow: 0px 0px 40px rgba(0,0,0,0.2) ;
  width: 1010px;
  margin:auto;
  padding: 15px;
}

h1{
    font-size:1.5em;
    font-weight:lighter;
}

nav{
   text-align: center;
}
li{
    display: inline-block;
    margin-right:50px;
    list-style-type: none;
}

li>a{
    color:#585858;
    font-size: 1.2em;
    text-decoration: none;

}
li>a:active, li>a:visited{
    color:#585858;
}

.separador{
    border: 1px solid #585858;
    margin-bottom: 10px;
}

.main{
    float: left;
    margin-right:20px;
    width: 65%;


}

p{
    text-align: justify;
}

.aside{
    float: right;
    margin-right:20px;
    width: 25%;
    
}
